.container_login {
  align-items: center;
  background: #ff5733;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.box_login {
  align-items: center;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  justify-content: end;
  width: 80%;
}

.logo_cheff {
  color: white;
  width: 100px;
}

.input_login {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: Inter , sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 15px;
  width: 90%;
}

.input_login::placeholder {
  color: white;
}

.label_password {
  position: relative;
}

.icon_password {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  right: 10px;
  top: 13px;
}

.button_login {
  background-color: #ffb103;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  height: 55px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  margin-top: 150px;
  padding: 8px;
  width: 80%;
}

.button_login:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}
