body {
  height: 640px;
  width: 360px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-input {
  align-items: flex-start;
  background: white;
  border: 1px solid rgba(147, 147, 147, 0.48);
  border-radius: 5px;
  flex-direction: column;
  height: 15px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 16px;
  width: 265px;
}

.login-button {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: large;
  font-weight: 900;
  height: 37px;
  margin: auto;
  width: 300px;
}

.login-label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: auto;
}
