.recipe_image {
  width: 120px;
}

.header {
  display: flex;
  flex-direction: column;
}

.up_header {
  background-color: #21106a;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-width: 360px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 360px;
}

.header_buttons {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.header_button {
  background-color: #21106a;
  border: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 200px;
}

.header_button_icon {
  color: #ff5733;
  margin: auto;
  width: 30px;
}

.header_icon {
  margin: auto;
  width: 50px;
}

.app_name {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.title_search {
  display: flex;
  flex-direction: column;
}

.page_title {
  align-items: center;
  background-color: #ff5733;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px 10px;
  text-align: center;
  width: 110px;
}

.search_bar {
  background-color: #21106a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
}

.search_type label {
  color: white;
}

.search_input {
  align-items: flex-start;
  background: white;
  border: 1px solid rgba(147, 147, 147, 0.48);
  border-radius: 8px;
  flex-direction: column;
  height: 20px;
  margin: auto;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 12px 16px;
  width: 300px;
}

.search_type {
  margin: auto;
  margin-bottom: 10px;
}

.search_radio {
  margin-top: 20px;
}

.search_button {
  background: #ff5733;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: 900;
  height: 37px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 300px;
}

.recipes {
  display: flex;
  flex-direction: column;
}

.recipe_categories {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 10px;
}

.categorie_button {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 60px;
}

.categorie_button_icon {
  border: #ff5733 2px solid;
  border-radius: 100%;
  color: #ff5733;
  margin: auto;
  padding: 5px;
}

.categorie_button_text {
  color: gray;
  font-size: smaller;
  margin: auto;
  padding: 5px;
}

.meal_cads {
  display: grid;
  grid-template-columns: 180px 180px;
  margin-bottom: 70px;
}

.recipe_card {
  background-color: #eee;
  border: none;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
}

.recipe_conteiner {
  border-radius: 10px;
}

.recipe_text {
  border: lightgray 1px solid;
  font-size: 12px;
  margin: 0;
  padding: 8px;
}

.footer {
  background-color: #21106a;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  max-width: 360px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: fixed;
  width: 360px;
}
